header {
  position: relative;
}

.work-title {
  padding: 35px 0;
  background-color: yellow;
  text-align: center;
  margin-bottom: 50px;
}

.work-title h1 {
  font-size: 4vh;
  ;
  padding-bottom: 25px;
}

.work-title p {
  font-size: 3vh;
  padding: 10px 0;
}

.work-container{
  height: 100%;
  padding-bottom: 100px;
}

.work-wrapper {
  width: 80%;
  margin: 0 auto;
}

.work-wrapper img {
  width: 100%;
}

.title-link {
  font-size: 1.5vh;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: none;
}

.link {
  font-size: 1.5vh;
  text-decoration: none;
}


@media all and (min-width: 426px) and (max-width: 768px) {


  .work-title h1 {
    font-size: 3rem ;
    padding-bottom: 25px;
  }

  .work-title h4 {
    font-size: 1.5rem;
  }

  .link {
    font-size: 1.3rem;
  }

  .work-title p {
    font-size: 2rem;
    padding: 10px 0;
  }

}

@media all and (min-width: 321px) and (max-width: 425px) {
  
  .work-title h1 {
    font-size: 2.4rem;
    padding-bottom: 25px;
  }

  .work-title p {
    font-size: 1.6rem;
    padding: 10px 0;
  }

  .work-title h4 {
    font-size: 1.2rem;
  }

  .link {
    font-size: 1rem;
  }

  #menuButton{
    position: absolute;
  }
}

@media all and (max-width: 320px) {
  
  .work-title h1 {
    font-size: 2rem;
    padding-bottom: 25px;
  }

  .work-title p {
    font-size: 1.4rem;
    padding: 10px 0;
  }

  .work-title h4 {
    font-size: 1rem;
  }

  .link {
    font-size: 0.8rem;
  }

  #menuButton{
    position: absolute;
  }